---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bgDark2">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Dark themed website template built on AstroJS, designed for fictional startup"
    />
    <title>{title}</title>
  </head>
  <body class="">
    <main aria-label="Main content">
      <slot />
    </main>
    <style is:global>
      p > a {
        color: #0070f3;
        text-decoration: none;
        font-weight: 500;
        text-decoration: underline;
      }
      h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        margin: 5px 0px;
      }

      h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        margin: 5px 0px;
      }

      h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        margin: 5px 0px;
      }

      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body::before {
        --line: color-mix(in lch, canvasText 95%, canvas 35%);
        --size: 60px;
        content: "";
        height: 100vh;
        width: 100vw;
        position: fixed;
        background:
          linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 0 -5vmin /
            var(--size) var(--size),
          linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0 -5vmin /
            var(--size) var(--size);
        mask: linear-gradient(-15deg, transparent 30%, white);
        top: 0;
        z-index: -1;
      }


     
    </style>
  </body>
</html>
